<style type="text/css">
    #wa .CodeMirror{
        border: 1px solid #eee;
    }
    .CodeMirror-scroll {
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

</style>
<h1>Предпросмотр товаров</h1>
<div     class="fields form">
    <form action="?plugin=productpreview&action=save" method="post" id="plugins-settings-form">
        {$wa->csrf()}


        {literal}
        <p>{shopProductpreviewPlugin::display($p.id)} - Код хелпера вывода, $p.id - идентификатор товара, обязательный параметр</p>
        {/literal}


        <div class="field">
            <div class="name">
                Статус
            </div>
            <div class="value">
                <select name="shop_productpreview[status]">
                    <option {if $settings.status == 1} selected="selected"{/if} value="1">Включен</option>
                    <option {if $settings.status == 0} selected="selected"{/if} value="0">Выключен</option>
                </select>
            </div>
        </div>


        <div class="field">
            <div class="name">
                Подключать библиотеку fancybox
            </div>
            <div class="value">
                <input type="hidden"  name="shop_productpreview[include_fancybox]" value="0" >
                <input type="checkbox" {if $settings.include_fancybox}checked="checked"{/if}  name="shop_productpreview[include_fancybox]" value="1" > 
            </div>
        </div>




        <div class="field">
            <div class="name">
                Шаблон вывода
            </div>
            <div class="value">
                <input type="radio"  class="template_type" name="shop_productpreview[template_type]" value="shop" > - шаблон дизайна
                <input type="radio"  class="template_type" name="shop_productpreview[template_type]" value="user" > - пользовательский шаблон
            </div>
        </div>

        <div class="field template-name">
            <div class="name">
                Файл шаблона
            </div>
            <div class="value">
                <input type="text" name="shop_productpreview[template_name]" value="{$settings.template_name|escape}" >
            </div>
        </div>


        <div class="field edit-template">
            <div class="name">Шаблон предварительного просмотра<br /><span class="hint">HTML + Smarty</span></div>
            <div class="value no-shift">
                <div id="s-editor-core-wrapper">
                    <textarea id="sf-template-frontend" class="body" name="templates[frontend]">{$templates.frontend.template|escape}</textarea>
                </div>
            </div>

            {if $templates.frontend.change_tpl}
            <div class="value">
                <p class="gray"><i class="icon16 exclamation"></i>Внимание! Шаблон по умолчанию был изменен</p>
                <input type="checkbox" name="reset_tpls[frontend]" value="1"  /> - Сбросить изменения, использовать шаблон по умолчанию
            </div>
            {/if}
        </div>

        <div class="field">
            <div class="name">Шаблон ссылки<br /><span class="hint">HTML + Smarty</span></div>
            <div class="value no-shift">
                <div id="s-editor-core-wrapper">
                    <textarea id="sf-template-display" class="body" name="templates[display]">{$templates.display.template|escape}</textarea>
                </div>
            </div>
            {if $templates.display.change_tpl}
            <div class="value">
                <p class="gray"><i class="icon16 exclamation"></i>Внимание! Шаблон по умолчанию был изменен</p>
                <input type="checkbox" name="reset_tpls[display]" value="1"  /> - Сбросить изменения, использовать шаблон по умолчанию
            </div>
            {/if}
        </div>


        <div class="field">
            <div class="name">
                Подключать стиль кнопки
            </div>
            <div class="value">
                <input type="hidden"  name="shop_productpreview[include_css]" value="0" >
                <input class="include_css" type="checkbox" {if $settings.include_css}checked="checked"{/if}  name="shop_productpreview[include_css]" value="1" > 
            </div>
        </div>        

        <div class="field edit-css">
            <div class="name">Стиль кнопки<br /><span class="hint">HTML + Smarty</span></div>
            <div class="value no-shift">
                <div id="s-editor-core-wrapper">
                    <textarea id="sf-template-css" class="body" name="templates[css]">{$templates.css.template|escape}</textarea>
                </div>
            </div>
            {if $templates.css.change_tpl}
            <div class="value">
                <p class="gray"><i class="icon16 exclamation"></i>Внимание! Шаблон по умолчанию был изменен</p>
                <input type="checkbox" name="reset_tpls[css]" value="1"  /> - Сбросить изменения, использовать шаблон по умолчанию
            </div>
            {/if}
        </div>


        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="Сохранить">
                <span id="plugins-settings-form-status" style="display:none">
                    <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
                </span>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function() {



        var ids = ["sf-template-frontend", "sf-template-display", "sf-template-css"];
        for (var i = 0; i < ids.length; i++) {

            var c = CodeMirror.fromTextArea(document.getElementById(ids[i]), {
                mode: "text/html",
                tabMode: "indent",
                height: "dynamic",
                lineWrapping: true
            });
            $(ids[i]).change(function() {
                c.setValue($(this).val())
            });
            $(ids[i]).submit(function() {
                var f = $(this);
                $.post(f.attr('action'), f.serialize(), function(response) {
                    if (response.status == 'ok') {
                        $('#wa-design-button').removeClass('red').addClass('green');
                        $("#wa-editor-status-fail").hide()
                        $("#wa-editor-status-ok span").html(response.data.message);
                        $("#wa-editor-status-ok").fadeIn('slow', function() {
                            $(this).fadeOut(1000);
                        });
                    } else {
                        $('#wa-design-button').removeClass('green').addClass('red');
                        $("#wa-editor-status-ok").hide();
                        $("#wa-editor-status-fail span").html(response.errors.join(', '));
                        $("#wa-editor-status-fail").fadeIn('slow');
                    }
                }, "json")
                return false;
            });

        }



        $('.template_type').change(function() {
            if ($(this).val() == 'shop') {
                $('.template-name').show();
                $('.edit-template').hide();
            } else {
                $('.template-name').hide();
                $('.edit-template').show();
            }
        });
        $('.template_type[value={$settings.template_type}]').click();

        $('.include_css').change(function() {
            if ($(this).prop('checked')) {
                $('.edit-css').show();
            } else {
                $('.edit-css').hide();
            }
        });
        
        if({$settings.include_css}) {
            $('.edit-css').show();
        } else {
            $('.edit-css').hide();
        }
        
    });
</script>
